.btn-size-sm {
  width: 90px;
}

.btn-size-lg {
  width: 210px;
}

.car-setting__input {
  max-width: 200px;
}

.car-setting__color {
  max-width: 70px;
  height: auto;
}

.btn-size-normal {
  width: 120px;
}