.car-container__car-name {
  font-size: 25px;
}

.car {
  width: 100px;
  height: auto;
}

.car-sm {
  width: 50px;
  height: auto;
}

.car-container__track {
  position: relative;
  flex: 1 1 auto;
}

.racing-flag {
  height: 50px;
  width: auto;
  position: absolute;
  right: 120px;
  bottom: 0;
  z-index: -100;
}